Home


 <form class="form-inline" ng-submit="vm.login()">
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" id="email" class="form-control" placeholder="email" ng-model="vm.loginData.email" required />
    </div>
    <div class="form-group">
      <label for="inputPword1">Password</label>
      <input type="password" id="inputPword1" class="form-control" placeholder="Password" ng-model="vm.loginData.password" required />
    </div>
    <button class="btn btn-success submit-login-button" type="submit">Login!</button>
  </form>
