Register

  <form ng-submit="vm.createUser()">
    <div class="row">
      <label for="email" class="left-jus col-md-offset-3">Email</label>
      <div class="form-group col-md-6 col-md-offset-3">
        <input type="text" id="email" class="form-control" placeholder="email" ng-model="vm.userData.email" required />
      </div>
    </div>
    <div class="row">
      <label for="inputPword1" class="left-jus col-md-offset-3">Password</label>
      <div class="form-group col-md-6 col-md-offset-3">
        <input type="password" id="inputPword1" class="form-control" placeholder="Password" ng-model="vm.userData.password" required />
      </div>
    </div>
    <button class="btn btn-success submit-login-button" type="submit">Register</button>
  </form>
