<div id='container-register'>
  <form ng-submit="vm.createUser()">
    <div class="row">
      <div class="form-group col-md-6 col-md-offset-3">
      <label for="email"><i class="icon-envelope"></i> Email</label>
        <input type="text" id="email" class="form-control" placeholder="email" ng-model="vm.userData.email" required />
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6 col-md-offset-3">
      <label for="inputPword1"><i class="icon-key"></i> Password</label>
        <input type="password" id="inputPword1" class="form-control" placeholder="Password" ng-model="vm.userData.password" required />
      </div>
    </div>
    <button class="btn btn-success submit-login-button" type="submit">Register</button>
  </form>
</div>
